{% for collection in site.collections %}
  {% if collection.label == include.collection_index %}
    <nav>
      <ul>
        {% for item in collection.docs %}
          <li>
            {% if include.collection_nolink %}
              {{ item.content | markdownify }}
            {% else %}
              <a href="{{ item.url }}">{{ item.title }}</a>
              {% if item.description %}<span class="description">{{ item.description }}</span>{% endif %}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
{% endfor %}
