---
---

@import "{{ site.theme }}";

#header_wrap > header.inner {
  padding: 20px 10px 20px 10px;

  a {
    color: white;
    text-decoration: underline;
  }

  h1 > a {
    &, &:hover {
      text-decoration: none;
      display: flex;
    }
  }

  img {
    position: static;
    max-width: 739px;
    padding: 0;
    margin: 0 10px 0 0;
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
  }

  nav > ul {
    margin: 0 0 0 65px;
    list-style: none;

    & > li {
      display: inline;
      white-space: nowrap;

      &:not(:first-child)::before {
        content: "☀";
        color: orange;
        font-size: 0.8em;
        margin: 0 3px;
      }
    }
  }
}

.description::before {
  content: " - ";
}

.progress {
  position: relative;
  padding: 3px;
  border-radius: 6px;
  border: 1px solid #666;
  height: 10px;

  & > span {
    position: relative;
    display: block;
    background-color: #666;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 100%;
  }
}
