---
---

@import "{{ site.theme }}";

header {
  a {
    color: white;
    text-decoration: underline;
  }

  h1 > a {
    text-decoration: none;
  }

  img {
    vertical-align: middle;
    position: static;
    max-width: 739px;
    padding: 0;
    margin: 0;
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
  }

  nav > ul {
    padding-left: 0;
    list-style: none;
  }
}
